<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="br.com.amar.nos.pontos">

    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_rules"
            tools:targetApi="31"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_logo_amar"
            android:roundIcon="@mipmap/ic_launcher_logo_amar_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Amarnospontos">

        <activity android:name=".ui.activity.ListaPessoasActivity"
                  android:theme="@style/Theme.Amarnospontos.NoActionBar"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.FormularioPessoaActivity"
                  android:theme="@style/Theme.Amarnospontos.NoActionBar"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.ListaContratoActivity"
                  android:theme="@style/Theme.Amarnospontos.NoActionBar"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.FormularioContratoActivity"
                  android:theme="@style/Theme.Amarnospontos.NoActionBar"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.FormularioEnderecoActivity"
                  android:theme="@style/Theme.Amarnospontos.NoActionBar"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.ListaEnderecosActivity"
                  android:theme="@style/Theme.Amarnospontos.NoActionBar"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
